<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vicky Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Vicky Posts</h1>
        
        <% for(let post of posts) { %>
            <div class="post">
                <h3 class="user">@<%= post.username %></h3>
                <h4 class="content"><%= post.content %></h4>
                <a href="/posts/<%=post.id%>">View Details</a>
                <a href="/posts/<%=post.id%>/edit">Edit</a>
                <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
                    <button>Delete</button>
                </form>
            </div>
        <% } %>

        <div class="create-btn">
            <a href="/posts/new">Create New Post</a>
        </div>
    </div>
</body>
</html> 